In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path = "../data/raw/DATASET_FINAL_HACKATHON_2026.parquet"
df_to_model = pd.read_parquet(path)
pd.set_option('display.max_columns', None)
df_to_model.shape, df_to_model.head(3)

((35669175, 25),
    YEAR  MONTH  DAY_OF_MONTH  DAY_OF_WEEK    FL_DATE OP_UNIQUE_CARRIER ORIGIN  \
 0  2020      4             1            3 2020-04-01                9E    ATL
 1  2020      4             1            3 2020-04-01                9E    DTW
 2  2020      4             1            3 2020-04-01                9E    ATL

   ORIGIN_CITY_NAME DEST  DEST_CITY_NAME  CRS_DEP_TIME  DEP_DELAY  DEP_DEL15  \
 0      Atlanta, GA  CSG    Columbus, GA          2002       -7.0          0
 1      Detroit, MI  EVV  Evansville, IN          2026        8.0          0
 2      Atlanta, GA  RST   Rochester, MN          1352       -4.0          0

    DISTANCE  DEP_HOUR  sched_minute_of_day     distance_bin   LATITUDE  \
 0      83.0        20                 1202  (10.999, 228.0]  33.636665
 1     363.0        20                 1226   (337.0, 438.0]  42.212502
 2     831.0        13                  832   (674.0, 837.0]  33.636665

    LONGITUDE   STATION_KEY  DIST_MET_KM  TEMP  WIND_SPD  PRECIP_1H  \
 0 -84.428055  722190-13874     1.488682  15.0       6.2        0.0
 1 -83.353333  725370-94847     2.759307   9.4       3.1        0.0
 2 -84.428055  722190-13874     1.488682   7.2       6.7        0.0

    CLIMATE_SEVERITY_IDX
 0                     0
 1                     0
 2                     0  )

In [3]:
df_to_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35669175 entries, 0 to 35669174
Data columns (total 25 columns):
 #   Column                Dtype
---  ------                -----
 0   YEAR                  int16
 1   MONTH                 int8
 2   DAY_OF_MONTH          int8
 3   DAY_OF_WEEK           int8
 4   FL_DATE               datetime64[ns]
 5   OP_UNIQUE_CARRIER     category
 6   ORIGIN                category
 7   ORIGIN_CITY_NAME      category
 8   DEST                  category
 9   DEST_CITY_NAME        category
 10  CRS_DEP_TIME          int16
 11  DEP_DELAY             float32
 12  DEP_DEL15             int8
 13  DISTANCE              float32
 14  DEP_HOUR              int8
 15  sched_minute_of_day   int16
 16  distance_bin          category
 17  LATITUDE              float32
 18  LONGITUDE             float32
 19  STATION_KEY           object
 20  DIST_MET_KM           float32
 21  TEMP                  float32
 22  WIND_SPD              float32
 23  PRECIP_1H             float32
 24  CLIMATE_SEVERITY_IDX  int8
dtypes: category(6), datetime64[ns](1), float32(8), int16(3), int8(6), object(1)
memory usage: 2.3+ GB

In [4]:
df_to_model.duplicated().sum()

np.int64(626)

In [5]:
df_to_model[df_to_model.duplicated()]

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DEL15,DISTANCE,DEP_HOUR,sched_minute_of_day,distance_bin,LATITUDE,LONGITUDE,STATION_KEY,DIST_MET_KM,TEMP,WIND_SPD,PRECIP_1H,CLIMATE_SEVERITY_IDX
22540,2020,4,3,5,2020-04-03,OO,OKC,"Oklahoma City, OK",ORD,"Chicago, IL",830,-8.0,0,693.0,8,510,"(674.0, 837.0]",35.392502,-97.602219,723530-13967,0.539404,2.200000,9.8,-0.100000,1
74048,2020,4,10,5,2020-04-10,OO,OKC,"Oklahoma City, OK",ORD,"Chicago, IL",830,-9.0,0,693.0,8,510,"(674.0, 837.0]",35.392502,-97.602219,723530-13967,0.539404,10.000000,5.1,0.000000,0
254328,2020,8,6,4,2020-08-06,YX,BOS,"Boston, MA",LGA,"New York, NY",1100,-7.0,0,184.0,11,660,"(10.999, 228.0]",42.363056,-71.006943,725090-14739,0.339514,22.200001,3.1,0.000000,0
279004,2020,8,8,6,2020-08-08,YX,DCA,"Washington, DC",LGA,"New York, NY",1100,-8.0,0,214.0,11,660,"(10.999, 228.0]",38.851387,-77.037781,724050-13743,0.544087,22.799999,3.6,0.000000,0
435618,2020,8,21,5,2020-08-21,YX,DCA,"Washington, DC",LGA,"New York, NY",700,-8.0,0,214.0,7,420,"(10.999, 228.0]",38.851387,-77.037781,724050-13743,0.544087,22.200001,3.6,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35515764,2025,5,23,5,2025-05-23,YX,LGA,"New York, NY",BOS,"Boston, MA",600,-5.0,0,184.0,6,360,"(10.999, 228.0]",40.777222,-73.872498,725030-14732,0.661730,9.400000,3.1,0.000000,0
35572291,2025,5,26,1,2025-05-26,YX,BOS,"Boston, MA",LGA,"New York, NY",1100,-6.0,0,184.0,11,660,"(10.999, 228.0]",42.363056,-71.006943,725090-14739,0.339514,11.700000,3.6,0.000000,0
35609987,2025,5,28,3,2025-05-28,YX,BOS,"Boston, MA",LGA,"New York, NY",800,-11.0,0,184.0,8,480,"(10.999, 228.0]",42.363056,-71.006943,725090-14739,0.339514,15.600000,4.6,0.000000,0
35643888,2025,5,30,5,2025-05-30,OO,CVG,"Cincinnati, OH",ORD,"Chicago, IL",1945,-10.0,0,264.0,19,1185,"(228.0, 337.0]",39.048889,-84.667778,724210-93814,0.654578,16.700001,5.1,0.000000,0
35651156,2025,5,30,5,2025-05-30,YX,LGA,"New York, NY",BOS,"Boston, MA",600,-7.0,0,184.0,6,360,"(10.999, 228.0]",40.777222,-73.872498,725030-14732,0.661730,17.799999,2.6,0.100717,1

In [6]:
df_to_model = df_to_model.drop_duplicates()
df_to_model.shape

(35668549, 25)

In [7]:
# Target
y_rate = df_to_model["DEP_DEL15"].mean()
df_to_model["DEP_DEL15"].value_counts()
df_to_model["DEP_DEL15"].value_counts(normalize=True).round(4)

DEP_DEL15
0    0.8112
1    0.1888
Name: proportion, dtype: float64

El 18,88% de los vuelos despega con >=15 min de retraso. Esta desbalanceado con respecto a la clase o que es puntual 81,12%

Para el modelo: <br>
En evaluación tendrás que mirar Precision, Recall y F1 para la clase 1, no solo Accuracy.<br>
    <li>ajustar umbral de decisión si el costo de no detectar retrasos es alto.</li>

**Revision de rangos**

In [8]:
df_to_model["CRS_DEP_TIME"].describe()

count    3.566855e+07
mean     1.325147e+03
std      4.868569e+02
min      1.000000e+00
25%      9.100000e+02
50%      1.317000e+03
75%      1.730000e+03
max      2.400000e+03
Name: CRS_DEP_TIME, dtype: float64

In [9]:
df_to_model["DEP_HOUR"].describe()

count    3.566855e+07
mean     1.298230e+01
std      4.841226e+00
min      0.000000e+00
25%      9.000000e+00
50%      1.300000e+01
75%      1.700000e+01
max      2.400000e+01
Name: DEP_HOUR, dtype: float64

In [10]:
df_to_model["sched_minute_of_day"].describe()

count    3.566855e+07
mean     8.058551e+02
std      2.934286e+02
min      1.000000e+00
25%      5.500000e+02
50%      7.970000e+02
75%      1.050000e+03
max      1.440000e+03
Name: sched_minute_of_day, dtype: float64

In [11]:
df_to_model["DISTANCE"].describe()

count    3.566855e+07
mean     8.237261e+02
std      5.926319e+02
min      1.100000e+01
25%      3.920000e+02
50%      6.750000e+02
75%      1.061000e+03
max      5.812000e+03
Name: DISTANCE, dtype: float64

In [12]:
df_to_model[["TEMP","WIND_SPD","PRECIP_1H","DIST_MET_KM"]].describe()

               TEMP      WIND_SPD     PRECIP_1H   DIST_MET_KM
count  3.566855e+07  3.566855e+07  3.566855e+07  3.566855e+07
mean   1.615232e+01  3.547003e+00  8.699178e-02  1.344861e+00
std    1.011011e+01  2.343892e+00  7.852554e-01  9.097174e-01
min   -4.700000e+01  0.000000e+00 -1.000000e-01  2.249189e-02
25%    9.400000e+00  2.100000e+00  0.000000e+00  6.617298e-01
50%    1.720000e+01  3.100000e+00  0.000000e+00  1.237849e+00
75%    2.390000e+01  4.600000e+00  0.000000e+00  1.782804e+00
max    5.000000e+01  5.040000e+01  9.770000e+01  3.153822e+01

In [13]:
df_to_model["ORIGIN"].nunique(), df_to_model["DEST"].nunique(), df_to_model["OP_UNIQUE_CARRIER"].nunique()

(384, 385, 18)

In [14]:
df_to_model.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DEL15,DISTANCE,DEP_HOUR,sched_minute_of_day,distance_bin,LATITUDE,LONGITUDE,STATION_KEY,DIST_MET_KM,TEMP,WIND_SPD,PRECIP_1H,CLIMATE_SEVERITY_IDX
0,2020,4,1,3,2020-04-01,9E,ATL,"Atlanta, GA",CSG,"Columbus, GA",2002,-7.0,0,83.0,20,1202,"(10.999, 228.0]",33.636665,-84.428055,722190-13874,1.488682,15.0,6.2,0.0,0
1,2020,4,1,3,2020-04-01,9E,DTW,"Detroit, MI",EVV,"Evansville, IN",2026,8.0,0,363.0,20,1226,"(337.0, 438.0]",42.212502,-83.353333,725370-94847,2.759307,9.4,3.1,0.0,0
2,2020,4,1,3,2020-04-01,9E,ATL,"Atlanta, GA",RST,"Rochester, MN",1352,-4.0,0,831.0,13,832,"(674.0, 837.0]",33.636665,-84.428055,722190-13874,1.488682,7.2,6.7,0.0,0
3,2020,4,1,3,2020-04-01,9E,RST,"Rochester, MN",ATL,"Atlanta, GA",1559,-17.0,0,831.0,15,959,"(674.0, 837.0]",43.910000,-92.496666,726440-14925,0.764777,3.3,7.2,0.0,0
4,2020,4,1,3,2020-04-01,9E,DTW,"Detroit, MI",TYS,"Knoxville, TN",2020,-7.0,0,443.0,20,1220,"(438.0, 562.0]",42.212502,-83.353333,725370-94847,2.759307,9.4,3.1,0.0,0

In [16]:
drop_cols = ["DEP_DELAY", "FL_DATE",
    "ORIGIN_CITY_NAME", "DEST_CITY_NAME",
    "distance_bin", "CRS_DEP_TIME", "STATION_KEY"]

df_to_model = df_to_model.drop(columns=drop_cols)
df_to_model.shape

(35668549, 18)

In [21]:
df_to_model['PRECIP_1H'].value_counts(dropna=False)

PRECIP_1H
 0.000000    30362227
-0.100000     1891867
 0.300000      486391
 0.074560      406716
 0.500000      254079
               ...
 0.095572           1
 0.054227           1
-0.002681           1
 0.164789           1
 0.022513           1
Name: count, Length: 9090, dtype: int64

In [23]:
df_to_model[df_to_model['PRECIP_1H'].astype(str).str.startswith("-0")]

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,ORIGIN,DEST,DEP_DEL15,DISTANCE,DEP_HOUR,sched_minute_of_day,LATITUDE,LONGITUDE,DIST_MET_KM,TEMP,WIND_SPD,PRECIP_1H,CLIMATE_SEVERITY_IDX
44,2020,4,1,3,9E,CVG,MSP,0,596.0,9,577,39.048889,-84.667778,0.654578,5.0,4.1,-0.1,0
48,2020,4,1,3,9E,DTW,TYS,0,443.0,10,615,42.212502,-83.353333,2.759307,5.0,3.1,-0.1,0
71,2020,4,1,3,9E,CLE,DTW,0,95.0,8,510,41.410278,-81.853333,0.488492,5.0,5.7,-0.1,0
89,2020,4,1,3,9E,LEX,DTW,0,296.0,6,370,38.036667,-84.608612,0.362901,4.4,3.6,-0.1,0
98,2020,4,1,3,9E,DTW,BDL,0,549.0,10,600,42.212502,-83.353333,2.759307,5.0,3.1,-0.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35669139,2025,5,31,6,YX,BOS,JFK,1,187.0,13,785,42.363056,-71.006943,0.339514,13.9,5.1,-0.1,0
35669143,2025,5,31,6,YX,DCA,BNA,0,562.0,9,595,38.851387,-77.037781,0.544087,14.4,5.1,-0.1,0
35669149,2025,5,31,6,YX,BOS,JAX,0,1010.0,8,525,42.363056,-71.006943,0.339514,15.0,3.1,-0.1,0
35669157,2025,5,31,6,YX,DCA,BOS,0,399.0,8,509,38.851387,-77.037781,0.544087,14.4,5.7,-0.1,0
35669165,2025,5,31,6,YX,ACK,LGA,0,202.0,12,725,41.253056,-70.059998,0.134227,14.4,7.7,-0.1,0

Hay valores negativos en `PRECIP_1H`. Para precipitación la regla de limpieza más sensata es: todo valor < 0 se convierte a 0.

In [24]:
df_to_model.loc[df_to_model["PRECIP_1H"] < 0, "PRECIP_1H"] = 0.0

In [26]:
df_to_model.to_parquet("../data/processed/dataset_prepared.parquet", index=False)

In [15]:
"""
target = "DEP_DEL15"

cat_features = ["OP_UNIQUE_CARRIER", "ORIGIN", "DEST"]

num_features = [
    "YEAR", "MONTH", "DAY_OF_WEEK",
    "sched_minute_of_day",  # o "DEP_HOUR"
    "DISTANCE",
    "TEMP", "WIND_SPD", "PRECIP_1H", "CLIMATE_SEVERITY_IDX",
    "DIST_MET_KM",  # opcional
]

drop_cols = [
    "DEP_DELAY", "FL_DATE",
    "ORIGIN_CITY_NAME", "DEST_CITY_NAME",
    "distance_bin", "CRS_DEP_TIME", "STATION_KEY",
]

df_model = df_to_model.drop(columns=drop_cols)

X = df_model[cat_features + num_features]
y = df_model[target]
"""

'\ntarget = "DEP_DEL15"\n\ncat_features = ["OP_UNIQUE_CARRIER", "ORIGIN", "DEST"]\n\nnum_features = [\n    "YEAR", "MONTH", "DAY_OF_WEEK",\n    "sched_minute_of_day",  # o "DEP_HOUR"\n    "DISTANCE",\n    "TEMP", "WIND_SPD", "PRECIP_1H", "CLIMATE_SEVERITY_IDX",\n    "DIST_MET_KM",  # opcional\n]\n\ndrop_cols = [\n    "DEP_DELAY", "FL_DATE",\n    "ORIGIN_CITY_NAME", "DEST_CITY_NAME",\n    "distance_bin", "CRS_DEP_TIME", "STATION_KEY",\n]\n\ndf_model = df_to_model.drop(columns=drop_cols)\n\nX = df_model[cat_features + num_features]\ny = df_model[target]\n'